* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  overflow: hidden;
}

#cursorB {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid aquamarine;
  box-shadow: 0 0 20px rgb(50, 224, 255),  0 0 10px rgba(50, 224, 255, 0.3) inset;
  box-sizing: border-box;
  transition: 0.02s;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 120;
  opacity: 1;
  pointer-events: none;
}
.main {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: none;
  height: 100vh;
  width: 100%;
  background: linear-gradient( rgb(12, 7, 22), rgb(15, 10, 25));
}
#lightingBg {
  position: relative;
  height: 100vh;
  width: 100%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  flex-wrap: wrap-reverse;
  z-index: 50;
  overflow: hidden;
}
.lighting {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
}
.lighting::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: aqua;
  transform: scale(0.1);
  opacity: 0.5;
  box-shadow: 0 0 10px aqua,
  0 0 90px aqua;
  border-radius: 50%;
  pointer-events: none;
  transition: 1s;
}
#cursorB.active.beat {
  animation: activeBeats 0.2s forwards;
}

.lighting:hover::before {
  transform:scale(0.4);
  box-shadow: 0 0 20px aqua,
  0 0 40px aqua,
  0 0 60px aqua,
  0 0 80px aqua,
  0 0 100px aqua;
  opacity: 1;
  transition: 0s;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  font-weight: bold;
}
#lyrics {
  margin: 100px;
  font-size: 4em;
  color: aquamarine;
}
#text > div {
  position: relative;
  z-index: 60;
  /* 文字ごとに改行しない / No line-break per char */
  display: inline-block;
}
#text > div > div {
  animation: showLyrics 0.5s;
}

#media {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

#control-section {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  margin-bottom: 50px;
  padding: 20px;
  border: 2px solid magenta;
  background: rgb(15, 10, 25);
  opacity: 1;
  box-shadow: 0 0 30px rgba(250, 30, 210, 0.4), 0 0 30px rgba(250, 30, 210, 0.4) inset;
  border-radius: 100px;
  z-index: 100;
}
#control-section.active.beat {
  animation: activeBeats2 0.2s forwards;
}
#header {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

#meta {
  display: inline-flex;
  padding: 5px;
}

#artist {
 color: aquamarine;
}
#song {
  color: aquamarine;
}

#footer {
  display: block;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#seekbar {
  margin: 10px;
  border-radius: 10px;
  height: 12px;
  border: 3px solid rgb(42, 87, 87);
}

#seekbar > div {
  width: 0;
  height: 16px;
  margin: -2px 0 0 -2px;
  border-radius: 10px;
  border:none;
  box-shadow: 0 0 30px rgb(0, 255, 255), 0 0 10px rgb(0, 255, 255);
  background: aqua;
}

#control {
  display: flex;
}

#control > button {
  background: none;
  border-radius: 50%;
  border: 2px solid rgb(42, 87, 87);
  color: rgb(42, 87, 87);
  width: 40px;
  height: 40px;
  margin: 5px;
}
i {
  padding: 10px;
}
#control > button:hover {
  border-color: aqua;
  color: aqua;
  transition: 0.1s ease;
  box-shadow: 0 0 30px rgb(85, 255, 232), 0 0 20px rgba(85, 255, 232, 0.6) inset;
  cursor: none;
}
#control > button:focus {
  cursor: none;
  animation: clicked 0.5s forwards;
}
#control > input[type="range"] {
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: none;
  background: rgb(15, 10, 25);
  height: 12px;
  border: 2px solid rgb(42, 87, 87);
  border-radius: 7px;
  accent-color: aqua;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 7px;
  box-shadow: 0 0 35px rgb(85, 255, 232);
  background: aqua;
}
input[type="range"]:active::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(85, 255, 232),
    0 0 35px rgb(85, 255, 232);
}

@keyframes clicked {
    0% {   border-color: aqua;
      color: aqua; }
    20% {  border: 2px solid rgb(42, 87, 87);
      color: rgb(42, 87, 87); }
    40% {   border-color: aqua;
      color: aqua; }
    60% {  border: 2px solid rgb(42, 87, 87);
      color: rgb(42, 87, 87); }
    80% {   border-color: aqua;
      color: aqua; }
    100% {  border: 2px solid rgb(42, 87, 87);
      color: rgb(42, 87, 87); }
}

@keyframes activeBeats {
  0% {
    width: 40px;
    height: 40px;
    box-shadow: 0 0 30px rgb(50, 224, 255),  0 0 20px rgba(50, 224, 255, 0.3) inset;
  }
  100% {
    width: 20px;
    box-shadow: 0 0 20px rgb(50, 224, 255),  0 0 10px rgba(50, 224, 255, 0.3) inset;
    height: 20px;
  }
}

@keyframes activeBeats2 {
  0% {
    box-shadow: 0 0 60px rgba(250, 30, 210, 0.4), 0 0 60px rgba(250, 30, 210, 0.4) inset;
  }
  100% {
    box-shadow: 0 0 30px rgba(250, 30, 210, 0.4), 0 0 30px rgba(250, 30, 210, 0.4) inset;
  }
}
